body {
  display: grid;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 54px 0 0 220px;

  background-color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 54px;

  background-color: rgb(0, 0, 0);
}

.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 250px;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: nowrap;
  min-width: 0;
}

.middle__input {
  flex: 1;
  max-width: 540px;
  min-width: 0;

  height: 36px;
  padding-left: 16px;

  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 100px 0 0 100px;

  font-size: 16px;
}

.middle__search-btn {
  flex-shrink: 0;

  width: 60px;
  height: 40px;
  margin-right: 10px;
  padding: 0 16px 0 20px;

  background-color: rgb(43, 43, 43);
  border: 1px solid rgb(50, 50, 50);
  border-left: none;
  border-radius: 0 100px 100px 0;
}

@media (max-width: 400px) {
  .middle__search-btn {
    display: none;
  }
}

.middle__voice-btn,
.right__signin {
  flex-shrink: 0;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 100px;

  background-color: rgb(43, 43, 43);
}

.header-right {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  width: 250px;
}

.right__signin {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 49px;
  bottom: 0px;

  width: 220px;

  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgb(54, 53, 53);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 710px;
  margin-top: 24px;
  box-sizing: border-box;

  background-color: rgba(74, 74, 74, 0.421);
  border: 1px solid rgba(87, 87, 87, 0.489);
  border-radius: 10px;

  overflow: hidden;
}

.body__header {
  height: 20px;
  margin: 0;
  padding: 20px 0 10px 0;

  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 700;
}

.body__body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgb(203, 203, 203);
}
