.feed-list {
  gap: 16px;
}

.feed-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 15px;

  background-color: #0d1117;
  border: 1px solid #3d444d;
  border-radius: 5px;
}

.user-badge {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 10px 0;
}

.user-badge__left {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;

}

.user-badge__avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000000;

    object-fit: cover;
}

.user-badge__star{
    position: absolute;
    bottom: 3px;
    right: -5px;

    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: #f1e05a
}

.user-badge__right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;
    color: #8b949e;
    
  flex: 1;

}

.user-badge__username{
    font-size: 14px;
    font-weight: 600;
}

.user-badge__action{
    font-size: 14px;
    color: #8b949e;
}

.user-badge__time{
    font-size: 12px;
    color: #6e7681;
}

.feed-card__content {
  display: flex;
  flex-direction: column;

  gap: 10px;

  width: 100%;
  padding: 20px;

  background-color: #151b23;
}

.feed-card__content-header {
  align-items: center;

  font-size: 14px;
  font-weight: 600;
}

.feed-card__content-header-left {
  align-items: center;
  gap: 5px;
}

.img-div {
  width: 22px;
  height: 22px;
}

.repo-card__profile-small {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  object-fit: cover;
}

.feed-card__content-header-.right {
  flex: 1;
  justify-content: right;
}

.feed-card__content-body {
  font-size: 14px;
}

.feed-card__footer {
  align-items: center;
  justify-content: left;

  gap: 5px;
}

.language-color {
  width: 12px;
  height: 12px;

  border-radius: 50%;

  background-color: #f1e05a;
}

.language {
  font-size: 12px;
  color: #c9d1d9;
}
