.content{
    display: grid;
    grid-template-columns: 1fr  292px;
    grid-template-areas:
    "content-page__left content-page__right";

    height: 1000px;
}

.msg{
    width: 250px;
    height: 400px;

    background-color: #0D1117;
    border: 1px solid #2F353D;
    border-radius: 10px;

    margin-top: 40px;

}

.content__left{
    display: flex;
    justify-content: center;

    padding: 40px;
}

.home{
    font-size: 24px;
    font-weight: 600;
}

.left__container{
    width: 100%;

}

.gemini{
    width: 100%;
    height: 200px;

    background-color: #0D1117;

    border: 1px solid #2F353D;
    border-radius: 10px;
}