.navbar{
    grid-area: navbar;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3d444db3;

    background-color: #02040A;
}

.navbar__left{
    width: 200px;
    height: 100%;

    background-color: lightblue;
}

.navbar__middle{
    flex: 1;
    height: 100%;

    background-color: lightcoral;
}

.navbar__right{
    width: 295px;
    height: 100%;

    background-color: lightblue;
}

