.sidebar {
  grid-area: sidebar;

  display: flex;

  border-right-style: solid;
  border-width: 1px;
  border-color: #3d444db3;

  background-color: #0d1117;
}

.sidebar__content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 400px;
  margin-top: 24px;
}

.sidebar__content-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 24px 24px 24px;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.sidebar__heading {
  font-size: 14px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
  width: 66px;
  height: 30px;

  border: 1px solid #51a15a;
  border-radius: 7px;
  background-color: #2a903a;

  color: white;
  font-size: 12px;
}

.sidebar__body {
  display: flex;
}

.sidebar-input {
  flex: 1;
  height: 32px;
  box-sizing: border-box;
  padding-left: 10px;

  background-color: #151b23;
  border: 1px solid #3d444d;
  border-radius: 6px;

  outline: none;
}

.container__search::placeholder {
  color: #8b949e; /* GitHub-like gray */
  opacity: 1;
  /* important for Firefox */
}

.container__search:focus {
  border: 2.5px solid #1f6feb;
  color: white;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.repo-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  margin-top: 8px;

  color: white;
  font-size: 14px;
}
