*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: white;
}

body, html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}


p{
    margin: 0; 
    padding: 0;
}


.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

a{
    text-decoration: none;
}

.page{
    display: grid;
    grid-template-columns: 336px 1fr;
    grid-template-rows: 62px 1fr;

    grid-template-areas: 
    "navbar navbar"
    "sidebar content-page";

    height: 100vh;


}


.content{
    grid-area: content-page;

    background-color: #02040A;
}