body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

p{
    margin: 0; 
    padding: 0;
}

.page{
    display: grid;
    grid-template-columns: 336px 1fr;
    grid-template-rows: 62px 1fr;

    grid-template-areas: 
    "navbar navbar"
    "sidebar content-page";

    height: 100vh;


}


.content-page{
    grid-area: content-page;

    background-color: #02040A;
}