body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page{
    display: grid;
    grid-template-columns: 336px 1fr;
    grid-template-rows: 62px 1fr;

    grid-template-areas: 
    "navbar navbar"
    "sidebar content-page";

    height: 100vh;


}

.navbar{
    grid-area: navbar;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3d444db3;

    background-color: #02040A;
}

.sidebar{
    grid-area: sidebar;

    border-right-style: solid;
    border-width: 1px;
    border-color: #3d444db3;

    background-color: #0D1117;
}

.content-page{
    grid-area: content-page;

    background-color: #02040A;
}